<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="../public/css/searchdoctor.css"> -->
    <title>Doctor</title>
</head>

<style>
    * {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    margin-top: 0;
    background-color: white;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5vh;
    background-color: #45c3d2;
    padding: 20px 25px;
    font-size: 20px;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 50%);
    display:flex;
    align-items: center;
    justify-content: space-around
}

#search {
    width: 100%;
    border-radius: 10px;
    border: 1px #eee solid;
    padding: 13px 20px;
}

#search:focus {
    outline: none;
}
.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15vh;
    justify-content: space-between;
}
.fa-arrow-circle-left{
    color: black
}
.cuaso-timkiem {
    position: fixed;
    width: 100%;
    left: 0;
    background: #f5f5f5;
    top: 5vh;
    height: 7vh;
    padding: 10px 15px;
    display: flex;
}
#timkiem_csyt{
    width: 100%;
    border-radius: 2rem;
}
main{
    margin-top:15vh;
    height: 130rem;
}
.doctor{
    display:flex;
    padding: 15px 20px;
    text-decoration: none;
}
.bacsi{
    display:flex;
    margin-top:0;
    margin-left:10px;
    
}
h3{
    margin-top: 0;
    display: block;
    line-height: 1.3em;
    font-size: 14px;
    color: #333;
    margin-left: 5px;
}
h4{
    margin-top: 0;
    display: block;
    line-height: 1.3em;
    font-size: 14px;
    color: #333;
    margin-left: 5px;
}

.bs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

footer {
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: rows;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
    height: 200px;
    background:  #D2D7D9;
    color: #111;
}
footer ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    list-style-type: none;
}
footer ul li {
margin-bottom: 20px;
font-size: 25px;
}
footer ul li a {
    text-decoration: none;
    color: #111;
}
footer .locations {
    display: flex;
    flex-direction: column;

}
footer .location {
    margin-bottom: 20px;    
}

.luoi {
    object-fit: cover;
    border-radius: 50%;
}

#main h5 {
    margin-left: 40px;
    font-size: 30px;
    font-weight: bold;
}

#quaylai {
    cursor: pointer;
}

.logout {
    padding: 13px 20px;
    width: 10rem;
    background-color: #eee;
    /* border: 1px #f5f5f5 solid; */
    border: 0;
    /* border-radius: 10px; */
    /* box-shadow: 1px 1px 10px rgba(0,0,0,0.6), -1px -1px 10px rgba(0,0,0,0.6); */
    background-color: #45c3d2;
    text-align: center;
    /* border-left: 0.2px #eee solid;
    border-right: 0.2px #eee solid; */
    cursor: pointer;
}

.logout:hover {
    background-color: rgba(0,0,0,0.4);
    color: #45c3d2;
}

.header a {
    text-decoration: none;
    color: black;
}
</style>
<body>
    <header id="header" class="header">
        <div class="title">
            <i id='quaylai' type="button" class="fa fa-arrow-circle-left" dl-cuaso="chuyenkhoa" aria-label="Đóng" onclick="location.href='/loggedin'">
            </i>
            Doctor
        </div>

        <a href="/login"> <div id="logout" class="logout"> Log Out </div> </a>
    </header>
    <div class="cuaso-timkiem">
        <input type="search" id="search" placeholder="Find Doctor">
    </div>
    <main id="main">
        <h5>Outstanding doctor</h5>
        <!-- <a class="doctor" href="/bac-si-chuyen-khoa-ii-tran-minh-khuyen-d1466.html">
            <div class="bacsi">
                <img data-src="https://cdn.bookingcare.vn/fr/w200/2021/01/18/105401-bsckii-tran-minh-khuyen.jpg" src="https://cdn.bookingcare.vn/fr/w200/2021/01/18/105401-bsckii-tran-minh-khuyen.jpg" class="luoi" width="50" height="50" alt="Bác sĩ Chuyên khoa II Trần Minh Khuyên">
            <div class="bs">
                <h3>Bác sĩ Chuyên khoa II Trần Minh Khuyên</h3>
                <h4>
                    <span>Sức khỏe tâm thần</span>
                </h4>
            </div>
            </div>
        </a>
        <hr>
        <a class="doctor" href="/thu-nghiem-bac-si-chuyen-khoa-tim-mach-d104.html">
            <div class="bacsi">
                <img data-src="https://cdn.bookingcare.vn/fr/w200/2017/04/18/162558bac-si-bookingcare.jpg" src="https://cdn.bookingcare.vn/fr/w200/2017/04/18/162558bac-si-bookingcare.jpg" class="luoi" width="50" height="50" alt="[Thử nghiệm] Bác sĩ Chuyên khoa Tim Mạch">
            </div>
            <div class="bs">
                <h3>[Thử nghiệm] Bác sĩ Chuyên khoa Tim Mạch</h3>
                <h4>
                    <span>Tim mạch</span>
                </h4>
            </div>
        </a>
        <hr>
        <a class="doctor" href="/pho-giao-su-tien-si-bac-si-cao-cap-nguyen-duy-hung-d168.html">
            <div class="bacsi">
                <img data-src="https://cdn.bookingcare.vn/fr/w200/2020/03/17/114430-bshung.jpg" src="https://cdn.bookingcare.vn/fr/w200/2020/03/17/114430-bshung.jpg" class="luoi" width="50" height="50" alt="Phó Giáo sư, Tiến sĩ, Bác sĩ cao cấp Nguyễn Duy Hưng">
            </div>
            <div class="bs">
                <h3>Phó Giáo sư, Tiến sĩ, Bác sĩ cao cấp Nguyễn Duy Hưng</h3>
            <h4>
                <span>Da liễu</span>
            </h4>
            </div>
        </a> -->
    </main>

    <footer>
        <div class="logos">
            <img src="https://bookingcare.vn/assets/icon/bookingcare-2020.svg" alt="bookingcare" width="200" height="60">
            <h2>BookingCare Limited Company</h2>
        </div>
        <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Common Questions</a></li>
        </ul>
        <div class="locations">
            <div class="location">
                <h2>Oulu</h2>
                <p>Tellervontie 2</p>
            </div>
            <div class="location">
                <h2>Helsinki</h2>
                <p>Tellervontie 2</p>
            </div>

        </div>
    </footer>
</body>
<script>

    
document.getElementById("quaylai").onclick=function(){
    location.href="/loggedin"
};

// http://localhost:3000/api/alldoctors
let main = document.getElementById('main');
let search = document.getElementById('search');
let patient_id_number = Number(location.search.slice(1));

console.log(patient_id_number);
let emptyArray = [];
search.addEventListener('keyup', async (ed) => {
    ed.preventDefault();

    let text = ed.target.value.trim().toLowerCase();

    let res = await fetch('https://bookingcarecheck.herokuapp.com/api/alldoctors');

    let data = await res.json();
    let mappedData = data.map(info => ({
        doctor_id: info.doctor_id,
        full_name: info.first_name + ' ' + info.last_name,
        img : info.img

    }))

    emptyArray = [];
    mappedData.forEach(info => {
        let fullname = info.full_name.toLowerCase();

        if (fullname.indexOf(text) > -1) {
            emptyArray.push(info);
            addNewLook();
        }
    })

    console.log(emptyArray);

    if (search.value === '') {
        main.innerHTML = '';
        addFunctionToDom(data.slice(0,15));
    }
   
})

function addNewLook () {


    main.innerHTML = '';

    emptyArray.slice(0,15).forEach(info => {
        
        let a = document.createElement('a');
        a.classList.add('doctor');
        a.href = `/doctorlistforpatient/?${info.doctor_id}|${patient_id_number}`;
        a.innerHTML = `
        <div class="bacsi">
        <img data-src="${info.img}" src="${info.img}" class="luoi" width="100" height="100">
        </div>
        <div class="bs">
        <h3> ${info.full_name}</h3>
        </div>
        `
    main.appendChild(a);



    })
}

fetchDoctors();

async function fetchDoctors () {
    
    let res= await fetch('https://bookingcarecheck.herokuapp.com/api/alldoctors');

    let data = await res.json();
    console.log(data);
    let slicedData = data.slice(0,15);

    addFunctionToDom(slicedData);
    // slicedData.forEach(data => {

    //     let a = document.createElement('a');
    //     a.classList.add('doctor');
    //     a.href = `/doctor/?${data.doctor_id}`;
    //     a.innerHTML = `
    //     <div class="bacsi">
    //             <img data-src="${data.img}" src="${data.img}" class="luoi" width="50" height="50">
    //         </div>
    //         <div class="bs">
    //             <h3> ${data.first_name} ${data.last_name}</h3>
    //     </div>
    //     `
    //     main.appendChild(a);

    // })


}

function addFunctionToDom (data) {
    main.innerHTML = '';
    data.forEach(info => {

    let a = document.createElement('a');
    a.classList.add('doctor');
    a.href = `/doctorlistforpatient/?${info.doctor_id}|${patient_id_number}`;
    a.innerHTML = `
    <div class="bacsi">
        <img data-src="${info.img}" src="${info.img}" class="luoi" width="100" height="100">
    </div>
    <div class="bs">
        <h3> ${info.first_name} ${info.last_name}</h3>
    </div>
    `
    main.appendChild(a);

})


}


</script>
</html>