<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<style>
    * {
    box-sizing: border-box;
    margin: 0;
}
.intro {
    width: 100vw;
    height: 600px;
    overflow: hidden;
   
}

.intro-infor {
    width: 100vw;
    height: 1200px;
    background-image: url('https://media.istockphoto.com/photos/black-surgeon-giving-instruction-to-medical-team-picture-id518900466?k=20&m=518900466&s=612x612&w=0&h=Nr0doCAvA6MSgT8tpGOY1y3yay_fxNuR8P1RsBsjRa8=');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    color: #fff;
    text-align: center;
    padding: 50px;
}
.intro-infor::after {
    content: '';
    width: 100%;
    height: 100%;
    top: -20%;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    /* filter: blur(5px); */
    
}
.intro-infor * {
    z-index: 1;
}
.intro-infor h1 {
    margin: 50px auto;
    font-size: 50px;
}
.intro-infor p {
    margin: 50px auto;
    font-size: 25px;
    inline-size: 800px;
}
.intro-infor a {
    width: 200px;
    margin: 50px auto;
    height: 60px;
    background: #F8ED3B;
    font-size: 30px;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}
.intro-infor a:hover {
    transform: scale(1.1);
  
}
.benefits-container {
    width: 100vw;
    /* height: 800px; */
    background: #f9f9f9;
    padding: 50px;
    position: relative;
}
.benefits-container h1 {
    margin: 50px auto;
    color: #416A9B;
    position: absolute;
    left: 18%;
    top: 10px;
}
.benefit {
    width: 400px;
    height: 400px;
    padding: 30px;
    border: 2px solid #BEBFC1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}
.benefits {
    display: grid;
    row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    column-gap: 50px;
    width: 70%;
    margin: 100px auto 50px auto;
}
.benefit i {
    font-size: 100px;
    color: #F9B762;
    margin-bottom: 50px;
}
.benefit h2 {
    margin-bottom: 50px;
    font-size: 25px;
    color: #416A9B;
}
.benefit p {
    margin-bottom: 20px;
    font-size: 25px;
    color: #848382;
    inline-size: 350px;
    text-align: center;
}
.doctors-container {
    background:  #101646;
    color: #fff;
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}
.doctors-container h1 {
    margin-bottom: 100px ;
    font-size: 50px;
}
.doctors-container .doctors {
   display: flex;
   flex-wrap: wrap;
   width: 70%;
   align-items: center;
   justify-content: center;
}
.doctors-container .doctors .doctor {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    padding: 30px;
    background: #fff;
    color: #222;
    margin: 30px;
}
.doctors-container .doctors .doctor .image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 5px 70px rgba(0, 0, 0, 0.3);
}
.doctors-container .doctors .doctor .image img {
    width: 100%;
    height: 200%;
    object-fit: cover;
    position: absolute;
    top: 0;
    
}
.doctors-container .doctors .doctor h3 {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bolder;
}
.doctors-container .doctors .doctor h2 {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bolder;
}
.doctors-container .doctors .doctor p {
    margin-bottom: 10px;
    font-size: 20px;
    
}

.header {
    /* overflow-x: hidden; */
    background-color: white;
}

.head-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px 20px;
}

.left-side {
    display: flex;
    width: 15rem;
    z-index: 1;
}

.bookmark {
    z-index: -1;
}

.logo-image {
    margin-left: 30px;
}

.bookmark {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar-element {
    width: 12rem;
    cursor: pointer;
    height: 100%;
    padding: 4px 8px;
    border-right: 1px #eee solid;
}

.nav-bar-element:hover {
    background-color: rgba(0,0,0,0.1);
    z-index: 1;
}

.logo-image {
    width: 10rem;
}



.nav-bar-element:focus {
    outline: none;
}

.right-side {
    display: flex;
    height: 100%;
    margin-top: 0;
    z-index: 1;
}

.first-child {
    border-left: 1px #eee solid;
}

.upper-part {
    font-weight: bold;
} 

.navigation-bar {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 100;
    top: 0;
}

.nav-bar {
    cursor: pointer;
}
.navigation-bar.active {
    visibility: visible;
    opacity: 1;
}

.navigation-container {
    position: fixed;
    background-color: white;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 30vh;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 100;
}

.navigation-container.active {
    transform: translateX(0);
}

.menu-list {
    list-style: none;
    padding: 0;
    z-index: 1;
}

.menu-element {
    z-index: 1;
}

.menu-list li {
    padding: 13px 20px;
    border-bottom: 1px #eee solid;
    font-size: 18px;
}

.menu-element.third {
    border: 0;
}

.menu-list a {
    text-decoration: none;
    color: #45c3d2;
}
.social-media-icon {
    height: 3vh;
}

.menu-element.brown {
    background-color:  #f9f9f9;
    color: black;
    font-weight: normal;
    border: 0;
}



.social-media {
    padding: 13px 20px;
}

.nav-bar {
    cursor: pointer;
}




</style>
<body>


    <header id="header" class="header"> 
        <div class="head-container"> 
        <div class="left-side">
            <i class="fa-solid fa-bars fa-2x" id="nav-bar" class="nav-bar"></i> 
            <a href="/mainpage"> <img src="https://bookingcare.vn/assets/icon/bookingcare-2020.svg" alt="" class="logo-image"></a>
            
        </div>
    
        </div>
    
        </header>

        <div class="navigation-bar">
        </div> 
            <div class="navigation-container">
            <ul class="menu-list">  
              
               <a href="/mainpage"> <li class="menu-element third"> Home Page </li> </a> 
    
            </ul>
    
            <div class="social-media">
                <img src="https://bookingcare.vn/themes/app1912/assets/img/social/youtube-square.svg" alt="" class="social-media-icon">
                <img src="https://bookingcare.vn/themes/app1912/assets/img/social/facebook-square.svg" alt="" class="social-media-icon">
    
            </div>
        </div>


    <div class="intro">      
       
       <div class="intro-infor">   
        <h1>The Journey Of Patients Starts from Online</h1>
        <p>BookingCare is the flatform proving online booking for patients, make everything easier and more convenient</p>
        <a href="#" class="contact-btn">Contact Us</a>  
        </div>
    </div>
    <div class="benefits-container">
        <h1>Benefits of cooperating with BookingCare</h1>
        <div class="benefits">
            <div class="benefit">
                <i class="fa-solid fa-circle-arrow-up"></i>
                <h2>Increasing patient number</h2>
                <p>Using BookingCare to increase the number of patients and bookings related to healthcare problems</p>
            </div>
            <div class="benefit">
                <i class="fa-solid fa-star"></i>
                <h2>Increasing patient number</h2>
                <p>Using BookingCare to increase the number of patients and bookings related to healthcare problems</p>
            </div>
            <div class="benefit">
                <i class="fa-solid fa-calendar"></i>
                <h2>Increasing patient number</h2>
                <p>Using BookingCare to increase the number of patients and bookings related to healthcare problems</p>
            </div>
            <div class="benefit">
                <i class="fa-solid fa-clock"></i>
                <h2>Increasing patient number</h2>
                <p>Using BookingCare to increase the number of patients and bookings related to healthcare problems</p>
            </div>
            <div class="benefit">
                <i class="fa-solid fa-message"></i>
                <h2>Increasing patient number</h2>
                <p>Using BookingCare to increase the number of patients and bookings related to healthcare problems</p>
            </div>
            <div class="benefit">
                <i class="fa-solid fa-circle-check"></i>
                <h2>Increasing patient number</h2>
                <p>Using BookingCare to increase the number of patients and bookings related to healthcare problems</p>
            </div>
        </div>
    </div>
    <div class="doctors-container">
        <H1>Most Prestigious Doctors of BookingCare</H1>
        <div class="doctors">
            <div class="doctor">
               <div class="image"> <img src="https://cdn.bookingcare.vn/fr/w200/2021/06/01/140703-4980e88778158d4bd404.jpg" alt="doctor"></div>
                <h3>Professor</h2>
                <h2> Hung Bui </h2>
                <p>Otorhinolaryngologist</p>
            </div>
            <div class="doctor">
                <div class="image"> <img src="https://cdn.bookingcare.vn/fr/w200/2019/10/29/154433bs-le-thi-thu-hien.jpg" alt="doctor"></div>
                 <h3>Professor</h2>
                 <h2> Ngoc Nguyen </h2>
                 <p> Dermatologist </p>
             </div>
             <div class="doctor">
                <div class="image"> <img src="https://cdn.bookingcare.vn/fr/w200/2020/11/18/135235-bs-dinh-viet-hung.jpg" alt="doctor"></div>
                 <h3>Professor</h2>
                 <h2> Hung Dinh </h2>
                 <p> Orthopedist </p>
             </div>
             <div class="doctor">
                <div class="image"> <img src="https://cdn.bookingcare.vn/fr/w200/2021/09/15/110638-bs-dang-quang-ngoc.jpg" alt="doctor"></div>
                 <h3>Professor</h2>
                 <h2> Ngoc Dang </h2>
                 <p> Cardiologist </p>
             </div>
             <div class="doctor">
                <div class="image"> <img src="https://cdn.bookingcare.vn/fr/w200/2020/07/31/111526-bs-nguyen-huu-loi.jpg" alt="doctor"></div>
                 <h3>Professor</h2>
                 <h2> Loi Huu </h2>
                 <p> Epidemiologist </p>
             </div>
        </div>
    </div>

    <script>
        let nav_bar = document.getElementById('nav-bar');
    let navigation_bar = document.querySelector('.navigation-bar');
    let navigation_container = document.querySelector('.navigation-container');



nav_bar.addEventListener('click', (ed) => {
    ed.preventDefault();

    navigation_bar.classList.add('active');
    navigation_container.classList.add('active');
})




navigation_bar.addEventListener('click', () => {

    navigation_bar.classList.remove('active');
    navigation_container.classList.remove('active');
    
})




    </script>
</body>
</html>