<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="../public/css/doctor.css">
    <link rel="stylesheet" href="../public/css/doctorBooking.css">
    <title> Doctors </title>
</head>
<body>
    
    <header id="header" class="header">
    <div class="doctor-role">
        <a href="#" class="icon-header" id="back-to-main-page"> <i class="fa-solid fa-circle-arrow-left fa-2x"></i> </a>
        <div class="doctor-title">  </div>
    </div>

        <div class="icon-header" id="nav-bar"> <i class="fa-solid fa-bars fa-2x"></i> </div>
    </header>

    <!-- <div class="navigation-bar">
        <div class="navigation-container">
        <ul class="menu-list">
           <a href="#"> <li class="menu-element"> Home Page </li> </a>    
           <a href="#"> <li class="menu-element"> Handbook </li> </a> 
           <a href="#"> <li class="menu-element third"> Contact For Cooperation</li> </a> 
           <a href="#"> <li class="menu-element brown"> About BOOKINGCARE </li> </a>
           <a href="#"> <li class="menu-element"> For patients </li> </a>
           <a href="#"> <li class="menu-element"> For doctors </li> </a>
           <a href="#"> <li class="menu-element"> Roles of BookingCare </li> </a> 
           <a href="#">  <li class="menu-element"> Contact </li> </a> 
           <a href="#"> <li class="menu-element"> Frequently Asked Questions </li> </a> 
           <a href="#"> <li class="menu-element"> Terms Of Use </li></a>
           <a href="#"> <li class="menu-element"> Complaint Handling Process </li></a>
           <a href="#"> <li class="menu-element"> Operating Regulations </li></a>
        </ul>

        <div class="social-media">
            <img src="https://bookingcare.vn/themes/app1912/assets/img/social/youtube-square.svg" alt="" class="social-media-icon">
            <img src="https://bookingcare.vn/themes/app1912/assets/img/social/facebook-square.svg" alt="" class="social-media-icon">

        </div>
    </div>
    </div> -->

     <div class="navigation-bar">
    </div> 
        <div class="navigation-container">
        <ul class="menu-list">
           <a href="#"> <li class="menu-element"> Home Page </li> </a>    
           <a href="#"> <li class="menu-element third"> Contact For Cooperation</li> </a> 
           
        </ul>

        <div class="social-media">
            <img src="https://bookingcare.vn/themes/app1912/assets/img/social/youtube-square.svg" alt="" class="social-media-icon">
            <img src="https://bookingcare.vn/themes/app1912/assets/img/social/facebook-square.svg" alt="" class="social-media-icon">

        </div>
    </div>

    <main id="main">
        <div class="frame-for-booking-info">
        <div class="doctor-booking-info">
            <div class="doctor-bookmark">
                <strong> <i class="fa-solid fa-house"></i> / Specialist Examination / <span class="specific-specialization"> 
                    Mental Health </span></strong>
            </div>

            <div class="doctor-image-and-description">
                <img src="" alt="" id="doctor-image" class="doctor-image"> 

                <div class="doctor-description">

                    <h1 class="doctor-name">  </h1>

                    <p class="doctor-background"> Former Head of Clinical Department, Psychiatric Disease Ho Chi Minh City
                        Graduated from Psychotherapy, School of Practical Psychology of Paris (Psychology practique de Paris)
                        Doctors who are 16 years old or older </p>



                </div>


            </div>


           

            
            <div class="booking-box-and-detail-for-booking">


                <div class="booking-container">
                    <div class="date-input">
                    <div id="form-control" class="form-control">
                        <input type="text" id="place-input" class='place-input animated-btn' class="place-input" readonly>
                        <button id="button" class="btn animated-btn">
                            <i class="fa-solid fa-arrow-down"></i>
                            <i class="fa-solid fa-square-xmark"></i>
                        </button>
                
                    </div>
                
                    <ul class="placeholder" id="placeholder">
                
                
                    </ul>
                        
                    </div>
                
                    <div class="booking-value">
                
                
                
                      
                
                
                
                    </div>
                    </div>

                <div class="detail-for-booking">
                    <ul class="booking-detail">
                        <li class="booking-detail-element"> 
                            <span> ADDRESS OF EXAMINATION </span> <br> <br>
                            <span class="hospital-name"> Clinic of University Hospital of Medicine and Pharmacy 1 </span> <br> <br>
                            <span class="hospital-address"> 20-22 Duong Quang Trung, Ward 12, District 10, City. Ho Chi Minh City </span>
                        </li>


                        <li class="booking-detail-element">
                            <p class="script-for-info-detail">  TYPE OF INSURANCE APPLICATION: <span class="click-for-insurance-price" id="click-for-insurance-price">  See Details </span></p>

                            <div class='box-detail-two'>
                                <div class="state-insurance-info">
                                    <p class="insurance-name"> State health insurance: </p>
                                    <p> Currently, there is no state health insurance for specialist examination services. </p>
                                </div>

                                <div class="private-insurance-info"> 
                                    <p class="insurance-name"> Private health insurance: </p>
                                    <p> For insurance units that do not guarantee directly, the clinic issues a financial invoice (red invoice) and assists the patient in completing the application</p>
                                </div>

                            </div>

                        <p class="hide-price-list" id="hide-price-list"> Hide details </p>

                        </li>



                    </ul>
                </div>

            </div>


        </div>
    </div>

  
    <div class="doctor-description-box"> 
    <!-- <div class="doctor-description">  -->
        <div class="doctor-name-and-title"> 
        <h2 class="doctor-name"> Specialized Doctor || Tran Minh Khuyen </h2>
        </div>

        <div class="training-experience">
            <h2 class="training-title"> Training Experience </h2>
            
            <ul class="training-experience-list">
            <!-- <li class="training-experience-element"> Graduated as a General Doctor, University of Medicine and Pharmacy, Ho Chi Minh City </li>
            <li class="training-experience-element"> Studied Level I and Level II Specializations Major in Psychiatry, Hue University of Medicine </li>
            <li class="training-experience-element"> Graduated from Psychotherapy, School of Practical Psychology of Paris (Psychology practique de Paris) </li> -->
            </ul>
        </div>

        <div class="practical-experience">
            <h2 class="experience-title"> Practical Experience </h2>
            
            <ul class="practical-experience-list">
            <!-- <li class="prac-experience-element"> Former Head of Professional Planning Department, Head of Psychiatric Clinic District 3, Ho Chi Minh City </li>
            <li class="prac-experience-element"> Former Head of Clinical Department of Psychiatry in Ho Chi Minh City
                Judicial examiners specializing in psychiatry assess serious cases, cases of legal relevance investigated by police and courts at all levels. </li> -->
            </ul>
        </div>

    <!-- </div> -->

    </div>

    <div class="feedback-comment">
        <div class="feedback-title">
            <h2> Patient feedback after visiting </h2>
        </div>

        <ul class="feedback-list">
            <!-- <li class="feedbacks"> 
                <p class="feedback-name"> Truong Duc Loi </p>
                <p class="feedback-content"> Now is good! </p>
            </li>

            <li class="feedbacks"> 
                <p class="feedback-name"> Truong Duc Loi </p>
                <p class="feedback-content"> Now is good! </p>
            </li>


            <li class="feedbacks"> 
                <p class="feedback-name"> Truong Duc Loi </p>
                <p class="feedback-content"> Now is good! </p>
            </li> -->


        </ul>

        <div class="advertise-cover">
        <div class="place-to-button">
        <button class="show-role"> 
            Roles of BookingCare
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up"></i>
        </button>
        </div>

        <div class="advertisement"> 
            <div class="advertise-script">
                
            <p class="ad-header-part"> Help patients choose the right doctor and book an appointment quickly. </p>
            
        <ul class="ad-element-list">
            <li class="ad-element"> System of good and reputable specialist doctors </li>
            <li class="ad-element"> The information about the doctor has been clearly and accurately verified </li>
            <li class="ad-element"> Schedule an appointment with the correct doctor that the patient has chosen to schedule an appointment with </li>
            <li class="ad-element"> Protecting the rights of patients when going to the doctor </li>
            <li class="ad-element"> Free appointment. </li>
        </ul>

        <p class="ad-header-part"> Support before, during and after the examination. </p>
        <p class="stage-process"> Before examination </p>

        <ul class="ad-element-list">
            <li class="ad-element"> Remind the appointment of the examination, advise to prepare before the examination </li>
            <li class="ad-element"> Travel guide, check-in procedures </li>
        </ul>

        <p class="stage-process"> While examining </p>
        
        <ul class="ad-element-list">
            <li class="ad-element"> Support to solve problems during examination </li>
            <li class="ad-element">  Support patients with arising requirements </li>
        </ul>

        <p class="stage-process"> After examination </p>

        <ul class="ad-element-list">
            <li class="ad-element"> Record the patient's opinion after the examination </li>
            <li class="ad-element">  Support to answer and clarify professional issues </li>
            <li class="ad-element">  Protecting the rights of patients when going to the doctor </li>
        </ul>


            </div>

        </div>
    </div>
    </div>


    <div class="ending-footer">

    <div class="left-side">
        <p class="copyright"> &#169; 2022 BookingCare. </p>
    </div>

    <div class="right-side">
        <img src="https://bookingcare.vn/themes/app1912/assets/img/social/youtube-square.svg" alt="" class="social-media-icon">
        <img src="https://bookingcare.vn/themes/app1912/assets/img/social/facebook-square.svg" alt="" class="social-media-icon">
    </div>


    </div>
    



      







    </main>
   

    <script src="../public/js/doctor.js"></script>
    <script src="../public/js/doctorBooking.js"></script>
    <script src="../public/js/buttons.js"></script>
</body>
</html>