<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/login.css">
    <title> Login </title>
</head>


    <style>
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5vh;
    background-color: #45c3d2;
    padding: 20px 25px;
    font-size: 20px;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 50%);
    display:flex;
    border: 1px black solid;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25vh;
    justify-content: space-between;
}
.fa-arrow-circle-left{
    color: black
}

#quaylai {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form {
    padding: 13px 20px;
    background-color: #eee;
    border-radius: 10px;
    border: 1px black solid;
    width: 20rem;
}

.form h2 {
    text-align: center;
}

.label {
    font-weight: bold;
}

.common {
    margin-bottom: 20px;
}

.frame {
    width: 100%;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px black solid;
}

.frame:focus {
    outline: none;
    outline-color:aliceblue; 
}

.script {
    text-align: center;
}

.link-to-login {
    text-decoration: none;
    color: #45c3d2;
}

.submit {
    padding: 13px 20px;
    width: 100%;
    display: inline-block;
    background-color: #fff;
    border: 1px black solid;
    cursor: pointer;
    border-radius: 3px;
}

.submit:focus {
    outline: none;
}

.submit:active {
    transform: scale(0.98);
}

.eye-contact {
    position: absolute;
    transform: translateX(-99.5%);
    height: 39px;
    cursor: pointer;
    width: 2.5rem;
}

.eye-contact:focus {
    outline: none;
}

.eye-contact-confirm {
    position: absolute;
    transform: translateX(-99.5%);
    height: 39px;
    cursor: pointer;
    width: 2.5rem;
}

.fa-eye-slash {
    display: none;
}

.eye-contact.active .fa-eye-slash {
    display: block;
}

.eye-contact.active .fa-eye {
    display: none;
}

.eye-contact-confirm.active .fa-eye-slash {
    display: block
}

.eye-contact-confirm.active .fa-eye {
    display: none;
}

.paragraph {
    background-color: #45c3d2;
    padding: 15px 25px;
    border-radius: 8px;
    width: 100%;
    border: 1px black solid;
    text-align: center;
    font-weight: bold;
}



    </style>
<body>

     <header id="header" class="header">
        <div class="title">
            <i id='quaylai' type="button" class="fa fa-arrow-circle-left" dl-cuaso="chuyenkhoa" aria-label="Đóng" onclick="location.href='/mainpage'">
            </i>
            to Main Page
        </div>
    </header> 



    <div class="container">
    <form action="/login" method="post" id="form" class="form">
        <h2> Log In </h2>
        <div class="username-part common">
            <label for="username" class="label"> Username: </label> <br>
            <input type="text" name="username" id="username" class="frame" placeholder="Username...!" required>
        </div>
    
        <div class="password-part common">
            <label for="password" class="label"> Password: </label> <br>
            <input type="password" name="password" id="password" class='frame' placeholder="Password...!" required>

        <button id="eye-contact" class="eye-contact">
        <i class="fa-solid fa-eye"></i>
        <i class="fa-solid fa-eye-slash"></i>
        </button>
        </div> 

    <button type="submit" id="submit" class="submit"> Log In </button>

    <p class="script"> Don't have an account? Please <a href="/register" class="link-to-login"> register! </a></p>
    </form>


    <div class="notification">
       

    </div>
    </div>

    <script src="./js/login.js"></script>

    <script>

        let password_type = document.getElementById('password');
    let eye_contact = document.getElementById('eye-contact');

    eye_contact.addEventListener('click', (ed) => {
    ed.preventDefault();

    if (password_type.type === 'password') {
        password_type.setAttribute('type','text');
        eye_contact.classList.add('active');
    } else {
        password_type.setAttribute('type','password');
        eye_contact.classList.remove('active');
    }

})
    </script>
   
</body>
</html>