<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../public/css/mainpage.css">
    <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
  />
  
    <title>Document</title>
</head>

<style>


    * {
    box-sizing: border-box;
    margin: 0;
}
body {
    width: 100vw;
    overflow-y: auto;
}
.search-container {
    width: 100%;
    height: 800px;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210827/pngtree-doctor-holding-stethoscope-in-hand-against-white-background-image_764536.jpg');
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.search-container * {
    z-index: 10;
}
.search-container h1 {
    color: #fff;
    margin-bottom: 100px;
    font-size: 80px;
}
.search-container .search {
    width: 600px;
    
    height: 80px;
    position: relative;
}
.search-container .search button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #666;
}
.search-container .search button:active {
    transform: scale(1.1) translateY(-50%);
}
.search-container .search input {
    width: 100%;
    height: 100%;
    background:  #F8ED3B;
    border-radius: 40px;
    padding-left: 100px;
    font-size: 30px;
    color: #111;
    border: none;
}
.search-container .search input:focus {
    outline: none;
}

.swiper {
   width: 1800px;
   height: 500px;
   /* background:  #A2AAAE; */
   margin: auto;
   
  
  }
.swiper-wrapper{
      width: 100%;
      height: 90%;

}
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
    max-width: 20%;
    max-height: 100%;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    cursor: pointer;
    
}

.swiper-slide  img {
    border-radius: 10px;
    width: 80%;
    height: 60%;
    object-fit: cover;
}
.swiper-slide  p {
    margin-top: 40px;
    font-size: 30px;
    font-weight: bolder;
}
.swiper-slide:hover p {
    transform: scale(1.1);
    color:  #29A3EB;
}
.swiper-container {
    width: 100vw;
    height: 600px;
    position: relative;
    margin: 0;
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.swiper-container.grey-color {
    background-color: #eee;
}
.swiper-container.white-color {
    background: #fff;
}
.swiper-container h1 {
    position: absolute;
    top: 30px;
    left: 14%;
    font-size: 40px;
    border-bottom: 3px solid  #232525;
}

footer {
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: rows;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
    height: 200px;
    background:  #D2D7D9;
    color: #111;
}
footer ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    list-style-type: none;
}
footer ul li {
margin-bottom: 20px;
font-size: 25px;
}
footer ul li a {
    text-decoration: none;
    color: #111;
}
footer .locations {
    display: flex;
    flex-direction: column;

}
footer .location {
    margin-bottom: 20px;    
}

.logo-image {
    width: 10rem;
}

.header {
    width: 120rem;
    /* overflow-x: hidden; */
    padding: 13px 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.left-side {
    display: flex;
    width: 15rem;
    z-index: 1;
}

.bookmark {
    z-index: -1;
}

.logo-image {
    margin-left: 30px;
}

.bookmark {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar-element {
    width: 12rem;
    cursor: pointer;
    height: 100%;
    padding: 4px 8px;
    border-right: 1px #eee solid;
}

.nav-bar-element:hover {
    background-color: rgba(0,0,0,0.1);
    z-index: 1;
}

/* .nav-bar-element:first-child {
    border-left: 1px #eee solid;
} */



.nav-bar-element:focus {
    outline: none;
}

.right-side {
    display: flex;
    height: 100%;
    margin-top: 0;
    z-index: 1;
}

.first-child {
    border-left: 1px #eee solid;
}

.upper-part {
    font-weight: bold;
}

.navigation-bar {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 100;
    top: 0;
}

.nav-bar {
    cursor: pointer;
}
.navigation-bar.active {
    visibility: visible;
    opacity: 1;
}

.navigation-container {
    position: fixed;
    background-color: white;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 30vh;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 100;
}

.navigation-container.active {
    transform: translateX(0);
}

.menu-list {
    list-style: none;
    padding: 0;
    z-index: 1;
}

.menu-element {
    z-index: 1;
}

.menu-list li {
    padding: 13px 20px;
    border-bottom: 1px #eee solid;
    font-size: 18px;
}

.menu-element.third {
    border: 0;
}

.menu-list a {
    text-decoration: none;
    color: #45c3d2;
}
.social-media-icon {
    height: 3vh;
}

.menu-element.brown {
    background-color:  #f9f9f9;
    color: black;
    font-weight: normal;
    border: 0;
}



.social-media {
    padding: 13px 20px;
}

.swiper-slide-element img {
    object-fit: center;
    width: 80%;
}

.swiper-slide-element {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper-slide {
    text-decoration: none;
    color: black;
}

.showresult {
    width: 600px;
    background: #fff;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    display: none;
  justify-content: start;
    /* overflow-y: visible; */
    position: absolute;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.5);
    border: 1px #fff solid;
    min-height: 300px;
    overflow-y: scroll;
    height: 30rem;
    max-height: 100%;
}

@media (min-width: 1200px) {

.showresult.show {
    display: flex;
    position: absolute;
    top: 50.11rem;
    left: 60rem;
    transform: translate(-50%,-50%);
    z-index: 10;
}

}

@media (min-width: 1500px) {

.showresult.show {
    display: flex;
    position: absolute;
    top: 50.11rem;
    left: 45rem;
    transform: translate(-50%,-50%);
    z-index: 10;
}

}

.showresult .title {
    margin: 15px 20px   ;
    display: flex;
    flex-direction: column;
}
.showresult .title h2 {
    margin-bottom: 10px ;
    
}
.showresult .title a {
    margin-bottom: 15px ;
    border-bottom: 2px #C3C4C5 solid;
    padding-bottom: 8px;
}

.showresult a {
    text-decoration: none;
    color: black;
    padding: 50px 80px;
    /* border-bottom: 1px grey solid;
    border-top: 1px grey solid; */
    font-size: 20px;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}


.showresult .title {
    margin-top: 20px;
    font-weight: bold;
    margin-left: 3rem;
    font-size: 30px;
    background-color: #eee;
    padding: 10px 20px;
    margin: 0;
}



@media (min-width: 300px) and (max-width: 1199px) {

    .showresult.show {
    display: flex;
    position: absolute;
    top: 52.95rem;
    left: 26rem;
    transform: translate(-50%,-50%);
    z-index: 10;
}

}

@media (min-width: 300px) and (max-width: 1199px) {

.showresult.show {
display: flex;
position: absolute;
top: 53rem;
left: 26rem;
transform: translate(-50%,-50%);
z-index: 10;
}


}

@media (min-width: 1700px) and (max-width: 1799px) {

.showresult.show {
    display: flex;
    position: absolute;
    top: 50.08rem;
    left: 56rem;
    transform: translate(-50%,-50%);
    z-index: 10;
}


}

@media (min-width: 1800px) {

.showresult.show {
    display: flex;
    position: absolute;
    top: 50.08rem;
    left: 60rem;
    transform: translate(-50%,-50%);
    z-index: 10;
}


}


</style>
<body>

    <header id="header" class="header"> 
        
        <div class="left-side">
            <i class="fa-solid fa-bars fa-2x" id="nav-bar" class="nav-bar"></i> 
            <a href="/mainpage"> <img src="https://bookingcare.vn/assets/icon/bookingcare-2020.svg" alt="" class="logo-image"></a>
            
        </div>
    
        <div class="right-side">
    
            <a href="/specialist" class="bookmark">
                <div class="nav-bar-element first-child">
                    <p class="upper-part"> Specialist </p>
                    <p class="lower-part"> Find a doctor by specialty </p>
                </div>
            </a>
    
            <a href="/healthfacilities" class="bookmark">
                <div class="nav-bar-element">
                    <p class="upper-part"> Health facilities </p>
                    <p class="lower-part"> Choose hospital clinic </p>
                </div>
            </a>
    
            <a href="/searchdoctor" class="bookmark">
                <div class="nav-bar-element">
                    <p class="upper-part"> Doctor </p>
                    <p class="lower-part"> Choose a good doctor </p>
                </div>
            </a>

            <a href="/login" class="bookmark">
                <div class="nav-bar-element">
                    <p class="upper-part"> Log In </p>
                    <p class="lower-part"> Click to log in </p>
                </div>
            </a>

            <a href="/register" class="bookmark">
                <div class="nav-bar-element">
                    <p class="upper-part"> Register </p>
                    <p class="lower-part"> Sign up! </p>
                </div>
            </a>
    
    
    
        </div>
    
        </header>

        <div class="navigation-bar">
        </div> 
            <div class="navigation-container">
            <ul class="menu-list">  
              
               <a href="/contactforcoop"> <li class="menu-element third"> Contact For Cooperation</li> </a> 
    
            </ul>
    
            <div class="social-media">
                <img src="https://bookingcare.vn/themes/app1912/assets/img/social/youtube-square.svg" alt="" class="social-media-icon">
                <img src="https://bookingcare.vn/themes/app1912/assets/img/social/facebook-square.svg" alt="" class="social-media-icon">
    
            </div>
        </div>
    <div class="search-container">
        <h1>Take Care Of Your Health</h1>
        <form class="search">
            <button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input type="text" placeholder="search doctors" id="search-input" autocomplete="off">
        </form>
    </div>

    <div class="showresult">
        <!-- <div class="title title-specialization">
            <h2>Specilization</h2> -->
            <!-- <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>   <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>   <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span><span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
            <span>LKSJDLFKJSLDFKJ</span>
             -->
            
        <!-- </div>
        <div class="title title-hospital">
            <h2>Hospital</h2> -->
            <!-- <span>LKSJDLFKJSLDFKJ</span> -->
            
        <!-- </div>
        <div class="title title-doctor">
            <h2>doctors</h2> -->
            <!-- <span>LKSJDLFKJSLDFKJ</span> -->
            
        <!-- </div> -->

    </div>
  
  <div class="swiper-container white-color doctors-container">
    <h1>Doctors</h1>
    <div class="swiper mySwiper">
        <div class="doctor-swiper-wrapper swiper-wrapper">
            
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
  </div>
  <!-- <div class="swiper-container white-color hospital-container">
    <h1>Hospitals</h1>
    <div class="swiper mySwiper">
        <div class="hospital-swiper-wrapper swiper-wrapper">
            
            
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
  </div> -->
  <div class="swiper-container grey-color specilization-container">
    <h1> Specializations </h1>
    <div class="swiper mySwiper">
        <div class="specialization-swiper-wrapper swiper-wrapper">
          
            
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
  </div>
  
  <footer>
    <div class="logos">
        <img src="https://bookingcare.vn/assets/icon/bookingcare-2020.svg" alt="bookingcare" width="200" height="60">
        <h2>BookingCare Limited Company</h2>
    </div>
    <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Common Questions</a></li>
    </ul>
    <div class="locations">
        <div class="location">
            <h2>Oulu</h2>
            <p>Tellervontie 2</p>
        </div>
        <div class="location">
            <h2>Helsinki</h2>
            <p>Tellervontie 2</p>
        </div>

    </div>
</footer>
  
    
   
   

    <script src="../public/js/mainpage.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
          slidesPerView: 4,
          spaceBetween: 30,
          slidesPerGroup: 4,
          loop: true,
          loopFillGroupWithBlank: true,
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });


const inputsearchEl = document.getElementById('search-input')
let doctor_swiper_wrapper = document.querySelector('.doctor-swiper-wrapper');
let hospital_swiper_wrapper = document.querySelector('.hospital-swiper-wrapper');
let specialization_swiper_wrapper = document.querySelector('.specialization-swiper-wrapper');
const inputsearcharr = ['Search doctors', 'Search hospitals', 'Search specialization']

function randomplaceholder() {
    return Math.floor(Math.random() * inputsearcharr.length)
}

{/* <div class="swiper-slide">
<img src="https://assets.medpagetoday.net/media/images/97xxx/97507.jpg" alt="doctorcard" width="400" height="300">
<p>Dr. Linh Nguyen</p>
</div> */}

setInterval(() => {
    const randomnumber = randomplaceholder()
    inputsearchEl.placeholder = inputsearcharr[randomnumber]
}, 2000)


fetchDom();

async function fetchDom () {

    let res = await fetch('https://bookingcarecheck.herokuapp.com/api/alldoctors');

    let data = await res.json();

    let slicedData = data.slice(0,20);

    slicedData.forEach(data => {
        let a = document.createElement('a');
        a.classList.add('swiper-slide');
        a.href = `/doctorbookinglink/?${data.doctor_id}`
        let newDiv = document.createElement('div');
        newDiv.classList.add('swiper-slide-element');
        newDiv.innerHTML = `
        <img src="${data.img}" alt="doctorcard" width="400" height="300">
        <p> ${data.first_name} ${data.last_name} </p>

        `
        a.appendChild(newDiv);

        doctor_swiper_wrapper.appendChild(a);


        // let newDiv = document.createElement('div');
        // newDiv.classList.add('swiper-slide');
        // newDiv.innerHTML = `
        // <img src="${data.img}" alt="doctorcard" width="400" height="300">
        // <p> ${data.first_name} ${data.last_name} </p>

        // `

        // doctor_swiper_wrapper.appendChild(newDiv);
    })

}


// fetchDomTwo();

// async function fetchDomTwo () {

//     let res = await fetch('http://localhost:3000/api/hospital');

//     let data = await res.json();

//     let slicedData = data.slice(0,20);

//     slicedData.forEach(data => {
//         let newDiv = document.createElement('div');
//         newDiv.classList.add('swiper-slide');
//         newDiv.innerHTML = `
//         <img src="${data.image}" alt="doctorcard" width="400" height="300">
//         <p> ${data.hospitalname} </p>

//         `

//         hospital_swiper_wrapper.appendChild(newDiv);
//     })

// }



fetchDomThree();

async function fetchDomThree () {

    let res = await fetch('https://bookingcarecheck.herokuapp.com/api/allspecial');

    let data = await res.json();

    let slicedData = data.slice(0,20);

    slicedData.forEach(data => {

        let a = document.createElement('a');
        a.classList.add('swiper-slide');
        a.href = `/specializationlink/?${data.specialization_id}`
        let newDiv = document.createElement('div');
        newDiv.classList.add('swiper-slide-element');
        newDiv.innerHTML = `
        <img src="${data.image}" alt="doctorcard" width="400" height="300">
        <p>     ${data.specialization_name} </p>

        `
        a.appendChild(newDiv);

        // let newDiv = document.createElement('div');
        // newDiv.classList.add('swiper-slide');
        // newDiv.innerHTML = `
        // <img src="${data.image}" alt="doctorcard" width="400" height="300">
        // <p> ${data.specialization_name} </p>



        specialization_swiper_wrapper.appendChild(a);
    })

}

let nav_bar = document.getElementById('nav-bar');
let navigation_bar = document.querySelector('.navigation-bar');
let navigation_container = document.querySelector('.navigation-container');



nav_bar.addEventListener('click', (ed) => {
    ed.preventDefault();

    navigation_bar.classList.add('active');
    navigation_container.classList.add('active');
})




navigation_bar.addEventListener('click', () => {

    navigation_bar.classList.remove('active');
    navigation_container.classList.remove('active');
    
})

const searchcontainer = document.querySelector('.search-container')
const formsearch = document.querySelector('.search')
const inputsearch = document.querySelector('#search-input')
let showresult = document.querySelector('.showresult');
// let title_doctor = document.querySelector('.title-doctor');
// let title_specialization = document.querySelector('.title-specialization')
// function showsearch(infor) {
//     const titlespecialization = document.querySelector('.title-specialization')
//     const titlehospital = document.querySelector('.title-hospital')
//     const titledoctor = document.querySelector('.title-doctor')
//     // infor.forEach(data => {
//         const spanhospital = document.createElement('span')
//         const spanspecial = document.createElement('span') 
//         const spandoctor = document.createElement('span')
//         spandoctor.innerText = infor.first_name + ' ' + infor.last_name
//         spanspecial.innerText = infor.specialization_name
//         spanhospital.innerText = infor.hospitalname
//         // console.log(titlespecialization);
//         // console.log(titlehospital);
//         // console.log(titledoctor);
//         titlespecialization.appendChild(spanspecial)
//         titlehospital.appendChild(spanhospital)
//         titledoctor.appendChild(spandoctor)
//     // })
// }

// async function getsearchresult(input) {
//      const datajson = await fetch('http://localhost:3000/api/allresult');
//      const data = await datajson.json();


//      data.forEach(infor => {
//          if(Object.values(infor).join('').toLowerCase().includes(input.trim().toLowerCase())) {
//              showsearch(infor)
//              console.log(infor);
//         }
       
//      })
    
// }

let emptyArrayOne = [];
let emptyArrayTwice = [];

formsearch.addEventListener('keyup', async (e) => {
    e.preventDefault();

    let text = e.target.value.trim().toLowerCase();

    let res = await fetch('https://bookingcarecheck.herokuapp.com/api/alldoctors');

    let data = await res.json();

    fetchSecond(text);
    

    // getsearchresult(e.target.value);
    showresult.classList.add('show');

    if (text === '') {
        showresult.classList.remove('show');
    } else {


 

        let mappedData = data.map(info => ({
            doctor_id : info.doctor_id,
            fullname : info.first_name + ' ' + info.last_name,
        }))

        let mappedDataForSpecial = data.map(info => ({
            specialization_id: info.specialization_id,
            specialization_name: info.specialization_name
        }))
     

        emptyArrayOne = [];
        // emptyArrayTwice = [];

        mappedData.forEach(infor => {
        
            let full_name = infor.fullname.toLowerCase();

            if (full_name.indexOf(text) > -1) {
                emptyArrayOne.push({doctor_id: infor.doctor_id, full_name: infor.fullname});
               
                newFunction();
                
        }

            

            


        })

       
        

    }



})


async function fetchSecond (text) {

   
    let res = await fetch('https://bookingcarecheck.herokuapp.com/api/allspecial');

    let data = await res.json();

    emptyArrayTwice = [];

    data.forEach(infor => {

        let specialization_name_El = infor.specialization_name.toLowerCase();

        if (specialization_name_El.indexOf(text) > -1) {

            emptyArrayTwice.push({specialization_id: infor.specialization_id, specialization_name: infor.specialization_name})
            newFunction();
        }



    })


}

newFunction();
function newFunction() {
    showresult.innerHTML = '';

    if (emptyArrayOne.length > 0) {
    
    let newTitle = document.createElement('h2');
    newTitle.classList.add('title');
    newTitle.innerText = 'Doctors'
    showresult.appendChild(newTitle);
    
    emptyArrayOne.forEach(info => {
        let a = document.createElement('a');
        a.href = `/doctorbookinglink/?${info.doctor_id}`;
        let newDiv = document.createElement('div');
        newDiv.classList.add('information');
        newDiv.innerHTML = 
        `
        <strong class='name'>
            ${info.full_name}
        </strong>
        `
        a.appendChild(newDiv);
        showresult.appendChild(a);
    })
}


    
    if (emptyArrayTwice.length > 0) {
        // console.log(emptyArrayTwice);
        let newTitle = document.createElement('h2');
        newTitle.classList.add('title');
        newTitle.classList.add('second');
        newTitle.innerText = 'Specialization';
        showresult.appendChild(newTitle);
        
        // console.log(emptyArrayTwo);



        emptyArrayTwice.forEach(data => {


            let a = document.createElement('a');
            a.href = `/specializationlink/?${data.specialization_id}`;
            let newDiv = document.createElement('div');
            newDiv.classList.add('specialization');
            newDiv.innerHTML = `
            <strong class='specialization'>
                ${data.specialization_name}
            </strong>
            `
        
            a.appendChild(newDiv);
            showresult.appendChild(a);
        })

    }

}









      </script>

    
</body>
</html>