<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="Specialization.css">
    <title>Specialization</title>
</head>

    <style>
        * {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    margin-top: 0;
    background-color: white;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5vh;
    background-color: #45c3d2;
    padding: 20px 25px;
    font-size: 20px;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 50%);
    display:flex;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20vh;
    justify-content: space-between;
}
main{
    margin-top: 7vh;
    margin-bottom: 20px;
}
.fa-arrow-circle-left{
    color: black
}
h3{
    display: block;
    line-height: 1.3em;
    font-size: 14px;
    color: #333;
    margin-left: 5px;
    margin-top :0px;
}
#S{
    display:flex;
}

.chuyenkhoa-ds a {
    text-decoration: none;
    color: black;
}


footer {
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: rows;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
    height: 200px;
    background:  #D2D7D9;
    color: #111;
}
footer ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    list-style-type: none;
}
footer ul li {
margin-bottom: 20px;
font-size: 25px;
}
footer ul li a {
    text-decoration: none;
    color: #111;
}
footer .locations {
    display: flex;
    flex-direction: column;

}
footer .location {
    margin-bottom: 20px;    
}

/* .label {
    padding: 13px 20px;
    border: 1px black solid;
    width: 100%; */
/* } */

.S {
    padding: 13px 20px;
    display: flex;
}

.S h3 {
    display: flex;
    align-items: center;
    margin-left: 40px;
    font-size: 20px;
}

.S img {
    border-radius: 50%;
    border: 1px black solid;
    object-fit: cover;
}

#quaylai {
    cursor: pointer;
}
    </style>
<body> 
    <header id="header" class="header">
        <div class="title">
            <i id='quaylai' type="button" class="fa fa-arrow-circle-left" dl-cuaso="chuyenkhoa" aria-label="Đóng" onclick="location.href='Bookingcare.html'">
            </i>
            Specialization
        </div>
    </header> 
    <main>
        <div class="cuaso-vung">
            <div class="cuaso-noidung"> 
                <div class="chuyenkhoa-ds" dl-tai="1">
                        <a href="/specialization/?1" class="label">
                            <div class="S">
                            <img data-src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/120331-co-xuong-khop.jpg" src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/120331-co-xuong-khop.jpg" class="luoi" width="150" height="90" alt="Cơ Xương Khớp">
                            <h3>Musculoskeletal
                            </h3>    
                        </div>
                        </a>
                    <hr>
                        <a href="/specialization/?2" class="label">
                            <div class="S">
                            <img data-src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121042-than-kinh.jpg" src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121042-than-kinh.jpg" class="luoi" width="150" height="90" alt="Thần kinh">
                            <h3>Nerve
                            </h3>    
                        </div>
                        </a>
                    <hr>
                        <a href="/specialization/?3" class="label">
                            <div class="S">
                            <img data-src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/120933-tieu-hoa.jpg" src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/120933-tieu-hoa.jpg" class="luoi" width="150" height="90" alt="Tiêu hóa">
                            <h3>Digest
                            </h3>    
                        </div>
                        </a>
                    <hr>
                        <a href="/specialization/?4" class="label">
                            <div class="S">
                            <img data-src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/120741-tim-mach.jpg" src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/120741-tim-mach.jpg" class="luoi" width="150" height="90" alt="Tim mạch">
                            <h3>Heart
                            </h3>    
                        </div>
                        </a>
                    <hr>
                        <a href="/specialization/?5" class="label">
                            <div class="S">
                            <img data-src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121146-tai-mui-hong.jpg" src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121146-tai-mui-hong.jpg" class="luoi" width="150" height="90" alt="Tai Mũi Họng">
                            <h3>Ear, nose and throat
                            </h3>    
                        </div>
                        </a>
                    <hr>
                        <a href="/specialization/?6" class="label">
                            <div class="S">
                            <img data-src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121215-cot-song.jpg" src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121215-cot-song.jpg" class="luoi" width="150" height="90" alt="Cột sống">
                            <h3>Spine
                            </h3>    
                        </div>
                        </a>
                    <hr>
                        <a href="/specialization/?7" class="label">
                            <div class="S">
                            <img data-src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121232-y-hoc-co-truyen.jpg" src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121232-y-hoc-co-truyen.jpg" class="luoi" width="150" height="90" alt="Y học Cổ truyền">
                            <h3>Traditional Medicine
                            </h3>    
                        </div>
                        </a>
                    <hr>
                        <a href="/specialization/?8" class="label">
                            <div class="S">
                            <img data-src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121305-cham-cuu.jpg" src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121305-cham-cuu.jpg" class="luoi" width="150" height="90" alt="Châm cứu">
                            <h3>Acupuncture
                            </h3>    
                        </div>
                        </a>
                    <hr>
                        <a href="/specialization/?9" class="label">
                            <div class="S">
                            <img data-src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/181822-san-phu-khoa.jpg" src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/181822-san-phu-khoa.jpg" class="luoi" width="150" height="90" alt="Sản Phụ khoa">
                            <h3>Obstetrics and Gynecology
                            </h3>    
                        </div>
                        </a>
                    <hr>
                        <a href="/specialization/?10" class="label">
                            <div class="S">
                            <img data-src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/181619-sieu-am-thai.jpg" src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/181619-sieu-am-thai.jpg" class="luoi" width="150" height="90" alt="Siêu âm thai">
                            <h3>Fetal ultrasound
                            </h3>    
                        </div>
                        </a>
                    <hr>
                        <a href="/specialization/?11" class="label">
                            <div class="S">
                            <img data-src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/175620-nhi-khoa.jpg" src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/175620-nhi-khoa.jpg" class="luoi" width="150" height="90" alt="Nhi khoa">
                            <h3>Pediatrics
                            </h3>    
                        </div>
                        </a>
                    <hr>
                        <a href="/specialization/?12" class="label">
                            <div class="S">
                            <img data-src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/175809-da-lieu.jpg" src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/175809-da-lieu.jpg" class="luoi" width="150" height="90" alt="Da liễu">
                            <h3>Dermatology
                            </h3>    
                        </div>
                        </a>
                    <hr>
                        <a href="/specialization/?13" class="label">
                            <div class="S">
                            <img data-src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/182233-viem-gan.jpg" src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/182233-viem-gan.jpg" class="luoi" width="150" height="90" alt="Bệnh Viêm gan">
                            <h3>Hepatitis
                            </h3>    
                        </div>
                        </a>
                    <hr>
                        <a href="/specialization/?14" class="label">
                            <div class="S">
                            <img data-src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/182940-roi-loan-giac-ngu.jpg" src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/182940-roi-loan-giac-ngu.jpg" class="luoi" width="150" height="90" alt="Sức khỏe tâm thần">
                            <h3>Mental health
                            </h3>    
                        </div>
                        </a>
                    <hr>
                        <a href="/specialization/?15" class="label">
                            <div class="S">
                            <img data-src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/183706-di-ung-mien-dich.jpg" src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/183706-di-ung-mien-dich.jpg" class="luoi" width="150" height="90" alt="Dị ứng miễn dịch">
                            <h3>Immune allergy
                            </h3>    
                        </div>
                        </a>
                    <hr>
                        <a href="/specialization/?16" class="label">
                            <div class="S">
                            <img data-src="https://cdn.bookingcare.vn/fr/w300/2020/09/30/141059-ung-thu-phoi.jpg" src="https://cdn.bookingcare.vn/fr/w300/2020/09/30/141059-ung-thu-phoi.jpg" class="luoi" width="150" height="90" alt="Hô hấp - Phổi">
                            <h3>Respiration – Lungs
                            </h3>    
                        </div>
                        </a>
                    <hr>
                        <a href="/specialization/?17" class="label">
                            <div class="S">
                            <img data-src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/184456-nam-hoc.jpg" src="https://cdn.bookingcare.vn/fr/w300/2019/12/16/184456-nam-hoc.jpg" class="luoi" width="150" height="90" alt="Nam học">
                            <h3>Male school
                            </h3>    
                        </div>
                        </a>
                    <hr>
                </div>
                            </div>
                            </div>

                        
</main> 

<footer>
    <div class="logos">
        <img src="https://bookingcare.vn/assets/icon/bookingcare-2020.svg" alt="bookingcare" width="200" height="60">
        <h2>BookingCare Limited Company</h2>
    </div>
    <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Common Questions</a></li>
    </ul>
    <div class="locations">
        <div class="location">
            <h2>Oulu</h2>
            <p>Tellervontie 2</p>
        </div>
        <div class="location">
            <h2>Helsinki</h2>
            <p>Tellervontie 2</p>
        </div>

    </div>
</footer>
</body>
<script>
        document.getElementById("quaylai").onclick=function(){
        location.href="/mainpage"
    };
</script>
</html>