


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');




/* .form-control {
    position: relative;
} */

.place-input {
    /* width: 30vh; */
    line-height: 20px;
    border: 2px black solid;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: inherit;
    width: 20rem;
    margin: 0;
    background-color: white;
}

.place-input:focus {
    outline : none;
}
.btn {
    position: absolute;
    transform: translateX(-100%);
    width: 5vh;
    line-height: 38px;
    border: 2px black solid;
    border-radius: 5px;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.placeholder {
    list-style: none;
    padding: 0;
    /* width: 30vh;
    
    height: 15vh; */
    width: 20rem;
    background-color: #f5f5f5;
    margin: 0;
    display: none;
    border-radius: 5px;
    max-height: 100%;
    border: 2px rgba(0,0,0,0.4) solid;
}

.placeholder li {
    position: relative;
    padding: 15px 25px;
    cursor: pointer;
    display: flex;
}

.date {
    margin-left: 50px;
    width: 250px;
    margin-top: 3px;
    height: 10px;
    text-align: left;
}



.icon {
    position: absolute;
}

.placeholder li:focus {
    outline: none;
}

.placeholder li:not(:last-of-type) {
    border-bottom: 1px grey solid;
}
.placeholder.active {
    display: block;
}

.fa-square-xmark {
    display: none
}

.form-control.active .fa-square-xmark {
    display: block;
    height: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.form-control.active .fa-arrow-down {
    display: none;
}

.icon {
    max-width: 20px;
    top: 18px;
}



.booking-date.active .icon {
    display: none;
}

.icon.active {
    display: none;
}

.booking-value {
    width : 50vh;
    height: 90vh;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    border: 1px black solid;
    padding: 13px 20px;
    margin-bottom: 20px;
}

/* .btn {
    padding: 13px 20px;
    display: inline-block;
    width: 15%;
    cursor: pointer;
} */

.button-click-date {
    /* padding: 13px 20px;
    background-color: lightblue;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    width: 200px; */
    display: flex;
    flex-direction: row;
    border: 0px green solid;
    text-decoration: none;
    width: 20vh;
    height: 5vh;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 20px;
    display: inline-block;
}

.button-click-date.blue {
    padding: 13px 20px;
    background-color: lightblue;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.button-click-date.red.animated-btn {
    padding: 13px 20px;
    background-color: brown;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #0000;
    cursor: not-allowed;
}

.button-click-date.red {
    padding: 13px 20px;
    background-color: brown;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    cursor: not-allowed;
    visibility: hidden;
}

.button-click-date.animated-btn .button {
    visibility: hidden;
    width: 20vh;
    height: 5vh;
}


.animated-btn {
    /* background-image: linear-gradient(to right, grey 0%, #f5f5f5 10%, #f5f5f5 20%, grey 40%, grey 100%);
    background-position: 200% 100%; */
    color:  #0000;
    opacity: 0.7s;
    animation: bounce 2.5s linear infinite alternate;
}


@keyframes bounce {
    0% {
        background-color: hsl(200,20%,70%);
    }

    100% {
        background-color: hsl(200, 20%, 90%);
    }
}

.button.red {
    background-color: lightcoral;
    border: 0;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.2);
}

.button {
    background-color: 20px;
    background-color: lightblue;
    cursor: pointer;
    border: 0;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.button:focus {
    outline : none;
}


