



* {
    box-sizing: border-box;

}

body {
    margin: 0;
    width: 80vh;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow-x: hidden; */
    /* overflow-x: hidden; */
}

.header {
    margin: 0;
    background-color: #45c3d2;
    width: 240%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 1;
    overflow: hidden;
}

.icon-header {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.navigation-bar {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 1;
    top: 0;
}

.navigation-bar.active {
    visibility: visible;
    opacity: 1;
}

.navigation-container {
    position: fixed;
    background-color: white;
    margin: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 30vh;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 1;
}

.navigation-container.active {
    transform: translateX(0);
}

.menu-list {
    list-style: none;
    padding: 0;
}

.menu-list li {
    padding: 13px 20px;
    border-bottom: 1px #eee solid;
    font-size: 18px;
}

.menu-element.third {
    border: 0;
}

.menu-list a {
    text-decoration: none;
    color: #45c3d2;
}
.social-media-icon {
    height: 3vh;
}

.menu-element.brown {
    background-color:  #f9f9f9;
    color: black;
    font-weight: normal;
    border: 0;
}



.social-media {
    padding: 13px 20px;
}

.doctor-role {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 17%;
}

.doctor-title {
    margin-left: 10px;
    color: white;
    width: 120%;
  
    
    /* border: 2px black solid; */
}

.doctor-booking-info {
    margin: 0 auto;
    height: 100vh;
    max-width: 50%;
    /* border: 1px black solid; */
    
}

.frame-for-booking-info {
    margin: 0 auto;
    height: 130vh;
    width: 240%;
    /* border-bottom: 1px black solid; */

}

.doctor-bookmark {
    color: #45c3d2;
    font-size: 12px;
    padding: 13px 20px;
}

.doctor-image-and-description {
    padding: 13px 20px;
}

.doctor-image {
    border-radius: 50%;
    height: 120px;
}

.doctor-image-and-description {
    display: flex;
    align-items: center;
}

.doctor-description {
    margin-left: 20px;
}

.booking-container {
    border-right: 1px grey solid;
    width: 100vh;
    max-width: 100%;
    padding: 13px 20px;
}

.booking-container strong {
    padding: 13px 20px;
    font-size: 15px;
}

.booking-box-and-detail-for-booking {
    display: flex;
    max-width: 100%;
}

.booking-detail-element {
    margin-bottom: 30px;
    padding: 0 20px;
}


.hidden {
    display: none;
}

.frame-for-booking-info {
    display: flex;
}

.booking-detail {
    list-style: none;
    width: 50vh;
}

.booking-detail li {
    padding: 10px 20px;

}

.booking-detail li:not(:last-of-type) {
    border-bottom: 1px grey solid;
}


.click-for-detail-price {
    color: #45c3d2;
    cursor: pointer;
}

.practical-experience-list li {
    margin-bottom: 10px;
}
.click-for-insurance-price {
    color: #45c3d2;
    cursor: pointer;
}

.training-experience-list li {
    margin-bottom: 10px;
}

.box-detail-two {
    border: 1px black solid;
    visibility: hidden;
    opacity: 0;
}

.state-insurance-info {
    border-bottom: 1px black solid;
    padding: 13px 20px;
    background-color: #eee;
}

.private-insurance-info {
    border-bottom: 1px black solid;
    padding: 13px 20px;
    background-color: burlywood;
}

.insurance-name {
    font-weight: bold;
}

.script-for-info-detail {
    font-weight: bold;
}

.hide-price-list {
    font-weight: bold;
    color:#45c3d2;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.active {
    visibility: visible;
    opacity: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.doctor-description-box {
    margin: 0 auto;
    border-bottom: 1px black solid;
    background-color: #eee;
    z-index: -1;
    border: 1px black solid;
    margin-right: 0;
    width: 192vh;
    overflow-x: hidden;
}

.doctor-name-and-title {
    transform: translateX(18%);
    padding: 13px 20px;
}

.training-experience {
    transform: translateX(18%);
    padding: 13px 20px;
   
}

.training-title {
    margin-bottom: 13px;
}

.practical-experience {
    transform: translateX(18%);
    padding: 13px 20px;
}

.experience-title {
    margin-bottom: 13px;
   
}

.feedback-comment {
    border-bottom: 1px black solid;
    width: 100%;
    z-index: -1;
    background-color: #eee;
    padding: 13px 20px;
    width: 192vh;
    overflow-x: hidden;
}

.feedback-title {
    transform: translateX(18%);
    padding: 13px 20px;
}

.feedback-list {
    transform: translateX(18%);
    list-style: none;
    padding: 0;
}

.feedback-list li {
    padding: 5px 10px;
    border-top: 1px white solid;
    width: 80rem;
    padding: 13px 20px;
}

.feedback-name {
    font-weight: bold;
    font-size: 15px;
}

.place-to-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.show-role {
    width: 40%;
    background-color: white;
    border: 1px rgba(0, 0, 0, 0.4) solid;
    cursor: pointer;
    padding: 13px 20px;
    color: #45c3d2;
    margin-top: 50px;
    border-radius: 10px;

}

.show-role:focus {
    outline: none;
}

.show-role:active {
    transform: scale(0.98);
}

.feedback-name {
    margin-bottom: 10px;
}

.advertisement {
    transform: translateX(18%);
    padding: 13px 20px;
    display: none;
}

.ad-header-part {
    margin: 20px 0;
    font-weight: bold;
}

.stage-process {
    margin: 20px 0;
    font-weight: bold;
}


.fa-arrow-up {
    display: none;
}

.advertise-cover.active .fa-arrow-up{
    display: inline-block;
}

.advertise-cover.active .fa-arrow-down {
    display: none;
}

.advertise-cover.active .advertisement {
    display: block;
}

.ending-footer {
    width: 192vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    background-color:#45c3d2;
}
